/.idea
/dataset/data_preprocessed_python/*
/dataset/metadata_csv/*
/dataset/*.dat
/dataset/__pycache__/
/dataset/modular/
/dataset/modular.zip
/dataset/modular_val_arousal.zip
/.ipynb_checkpoints
/results

/models/saved_weights/*


dataset/
